body {
  background-color: grey;
}

h1 {
  text-align: center;
  margin-bottom: -5px;
}

h2, h4, h6 {
  text-align: center;
  font-size: 19px;
  border-bottom: 2px solid black;
  margin-top: -1px;
}

h3 {
  font-size: 18px;
}

h5 {
  border-left: 3px dotted black;
  font-size: 23px;
  margin: 5px;
  padding-left: 12px;
}

.projects {
  border-left: 3px dotted black;
  font-size: 23px;
  margin: 5px;
  padding-left: 12px;
  color: darkblue;
}
